<div class="container">
    <div class="row">
        <div class="col">
            {{#each players}}
            <h1>{{firstName}} {{lastName}}</h1>
            <p>Reach me at: {{email}} or {{phone}}</p>
            <button class="btn btn-danger delete-player" data-id
            {{/each}}
        </div>
    </div>
</div>